@media (max-width: 767px) {
  .text-right {
    text-align:center;
    margin-top:25px;
  }
}

@media (max-width: 767px) {
  .h2, h2 {
    margin-top:-50px;
    margin-top:25px;
    padding-bottom:-100px;
  }
}

@media (max-width: 767px) {
  .text-left {
    margin-top:50px;
  }
}

@media (max-width: 767px) {
  .h2, h2 {
    text-align:center;
    margin-left:25px;
  }
}

@media (max-width: 767px) {
  .highlight-phone {
    height:400px;
  }
}

@media (max-width: 767px) {
  .intro {
    margin-top:-50px;
  }
}

@media (max-width: 767px) {
  .highlight-phone {
    margin-top:50px;
  }
}

@media (max-width: 767px) {
  .text-right {
    text-align:center;
  }
}

@media (max-width: 767px) {
  .text-left {
    text-align:center;
  }
}

